<%= render "shared/header" %>
<div class="edit-page">
<h2>プロフィール編集</h2>

<%= form_with model: @user do |f| %>

  <div class="field">
    <%= f.label "アイコン画像" %><br />
    <%= f.file_field :icon_image_name %>
  </div>
  <div class="field">
    <%= f.label "名前" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "自己紹介" %><br />
    <%= f.text_field :self_introduce %>
  </div>


  <div class="actions">
    <%= f.submit "更新", class: "user-edit-button" %>
  </div>
<% end %>


<%= link_to "＜戻る＞", :back %>
</div>
<%= render "shared/footer" %>
