<%= render "shared/header" %>
<div class="user-wrapper">
  <div class="user-container">
    <div class="user-left-menu">
      <h2>設定</h2>
        <ul>
          <li><%= link_to "アカウント", user_path(:id), class: "user-nav-item" %></li>
          <li><%= link_to "プロフィール", profile_path(:id), class: "user-nav-item" %></li>
        </ul>
    </div>
    <div class="user-info">
      <div class="user-info-title">
        <h2>アカウント</h2>
        <%= link_to "＜編集＞", edit_user_registration_path(:id), class: "blue-link" %>
      </div>
      <div class="user-info-content">
      <div class="account-content">
        <label class="account-title"><メールアドレス></label>
        <div class="account-item"><%= current_user.email %></div>
        <label class="account-title"><パスワード></label>
        <div class="account-item"><p>******</p></div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
