<%= render "shared/header" %>
<div class="room-wrap">
<div class="room-top">
<p class="room-title">登録済み施設一覧</p>

</div>
<% @rooms.each do |room| %>
<table class="room-table">
<tr>
<th>画像</th>
<th>施設名</th>
<th>紹介文</th>
<th>料金</th>
<th>作成日</th>
</tr>
<td><%= image_tag "default-image.png", class: "mini-room-image" %></td>
<td><%= link_to "#{room.name}", room_path %></td>
<td><%= room.introduction %></td>
<td><%= room.price %></td>
<td><%= room.created_at %></td>
</tr>
</table>
<% end %>
</div>

<%= render "shared/footer" %>